# MIOLO
LICENSE
/var
*.java
*.bak

etc/passwd.conf
html/relatorios2/model/DAO/Conexao.php
html/relatorios/classes/Relatorio.php

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
/data-dump.sql
*.*~
# Netbeans
nbproject/

# Sublime Text
.sublime-project
.sublime-project.sublime-workspace
.sublime-workspace

*.orig

