body {
	margin: 0;
	padding: 0;
	background-color: #6E8D62;
}
img {
	border-style: none;
}
#conteudo {
	font: caption;
	font-size: 12px;
	margin: 0 auto;
	width: 960px;
	background-color: white;
}
#conteudo table {
	width: 960px;
}
#conteudo table, tr {
	margin: 0 auto;
}
#conteudo table tr th {
	border: 1px solid;
	height: 25px;
}
#conteudo table tr th.data {
	width: 5%;
}
#conteudo table tr th.descricao {
	width: 420px;
}
#conteudo table tr th.valores {
	width: 14%;
}
#conteudo tr th.totais {
	text-align: right;
}
#conteudo table tr td {
	padding: 6px;
	vertical-align: top;
	border-bottom:1px solid #ddd;
	text-align: right;
}
#conteudo table tr td.data {
	text-align: center;
}
#conteudo table tr td.descricao {
	text-align: left;
	width: 53%;
}
#conteudo table tr:nth-child(even) {
	background: #f5f5f5;
}
#topo-mec {
	padding: 5px;
	height: 21px;
	background: none repeat scroll 0 0 #FFCC00;
}
#topo-mec .img-selo {
	float: right;
}
#topo-geral {
	background: url("../img/fundo_topo.jpg") repeat scroll 0 0 transparent;
}
#topo {
	width: 100%;
	height: 92px;
	background: url("../img/topo1.jpg") no-repeat scroll 0 0 transparent;
}
#topo .titulo {
	color: #003300;
	float: right;
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	position: relative;
}
#topo-relatorio {
	height: 250px;
}
#topo-relatorio hr {
	width: 95%;
	border-width: 1px;
	border-style: inset;
}
#menu {
	text-align: right;
}
#menu a {
	color: #003300;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}
#menu img {
	vertical-align: text-top;
}
#cabecalho-relatorio p {
	margin-left: 10px;
}
#cabecalho-relatorio ul {
	list-style-type: none;
}
#cabecalho-relatorio li {
	font-style: italic;
	text-align: left;
}
#cabecalho-relatorio li span {
	text-align: left;
	font-weight: bold;
}
#cabecalho-relatorio .titulo-relatorio {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 2px;
	line-height: 200%;
	margin-bottom: 35px;
}
#cabecalho-relatorio .data-hora {
	margin: 0;
	text-align: right;
	font-size: x-small;
	font-style: italic;
}
#rodape {
	height: 15px;
}
div.debug {
	width: 960px;
	background: none repeat scroll 0 0 #FFD700;
	font-size: small;
	font-family: monospace;
}