@page { margin: 0in 0in 0in 0in auto; font-size: 10px;}
img {
	border-style: none;
}
#conteudo {
	font: caption;
	font-size: 12px;
	width: 820px;
}
#conteudo table {
	width: 90%;
}
#conteudo table tr th {
	border: 1px solid;
}
#conteudo tr th.totais {
	text-align: right;
}
#conteudo table tr td {
	padding: 6px;
	vertical-align: top;
	border-bottom:1px solid #ddd;
	text-align: right;
}
#conteudo table tr td.data, #conteudo table tr th.data {
	text-align: center;
}
#conteudo table tr th.data {
	width: 7px;
}
#conteudo table tr td.valores, #conteudo table tr th.valores {
	width: 13%;
}
#conteudo table tr td.descricao, #conteudo table tr th.descricao {
	text-align: left;
}
#topo-mec {
	display: none;
}
#topo-mec .img-selo {
	display: none;
}
#topo {
	display: none;
}
#topo .titulo {
	display: none;
}
#topo-relatorio {
	height: 270px;
}
#topo-relatorio hr {
	display: none;
}
#cabecalho-relatorio ul {
	list-style-type: none;
	width: 75%;
}
#cabecalho-relatorio li {
	font-style: italic;
	text-align: left;
}
#cabecalho-relatorio li span {
	text-align: left;
	font-weight: bold;
}
#cabecalho-relatorio .titulo-relatorio {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 2px;
	line-height: 200%;
	margin-bottom: 35px;
}
#cabecalho-relatorio .data-hora {
	text-align: right;
	font-size: x-small;
	font-style: italic;
}
#menu {
	display: none;
}